@inherits LayoutComponentBase

<PageTitle>EOSManagementWeb</PageTitle>

<div class="page">
    <NavMenu />
    <main class="container-fluid" role="main" style="padding: 60px 0px;">
        @Body
    </main>
</div>
